@import url('https://webfontworld.github.io/t money/TmoneyRoundWind.css');

.blog-container {
  max-width: 800px; 
  padding-top: 120px;
  margin: auto;
  text-align: center;
}

.create-btn {
  background-color: #007bff;
  color: white;
  padding: 20px 30px;
  font-size: large;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 50px;
  font-family: 'TmoneyRoundWind';
  font-weight: 600;
}

.create-btn:hover {
  background-color: #0056b3;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.post-card {
  width: 100%;
  min-height: 300px;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-family: 'TmoneyRoundWind';
  font-weight: 500;
}

.post-card:hover {
  transform: translateY(-5px);
}

.post-card h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.post-meta {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.blog-image {
  width: 100%;
  height: 300px;  
  object-fit: contain;
  background: #f4f4f4;
  border-radius: 8px;
  margin: 10px 0;
  display: block;
}


.styled-input, .styled-textarea, .styled-file {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.styled-textarea {
  height: 150px;
  resize: none;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  font-family: 'TmoneyRoundWind';
  font-weight: 600;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  max-height: 4.5em; 
  line-height: 1.5em;
}
